{% extends "base.html" %}
{% block content %}
{% load static %}
<div  style="display:none;" id='isi'>
<center>
<h1>Hello, apa kabar</h1>
<form class="Box" method="POST" action="{% url 'story:hello' %}" > 
{% csrf_token %} 
{{ form }} 
<br> <br>
<button type="submit" class="btn btn-default">Submit</button> 
</form>
<br>
<table align="center" style="text-align: center;  padding:100px">
			<tr>
                <th id='table'>Status</th>
                <th id='table'>Date</th>
            </tr>

{% for diary_data in message %}
			
			
                <tr >
					<td id='table' class="activity">{{ diary_data.isi }}</td>
					<td id='table' class="type_act">{{ diary_data.date }}</td> 
                </tr>
            {% endfor %}
</table>
<br> 
</center>
</div>
{% endblock %}