{% extends "base.html" %}
{% block content %}
{% load static %}

<div  style="display:none;" id='isi'>
	<center>
	<h1> HELLO. </h1>
	<img  src="https://preview.ibb.co/gw0P0K/IMG_20180630_152039_2.jpg" alt="IMG_20180630_152039" align="middle"  width="200" height="200" style="border-radius:180px; margin-top:10px; margin-bottom:10px">
	<h2>Nama saya</h2>
	<h2><strong>Ali Yusuf</strong></h2>
	
	<div id="accordion" style="width: 300px">
		<h3>My Activities</h3>
		<div>
			Kuliah<br>Tidur<br>Makan
		</div>
		<h3>Experience</h3>
		<div>
			OH FASILKOM 2018<br>SIWAK-NG 2018<br>DPM FASILKOM 2018
		</div>
		<h3>Achievement</h3>
		<div>
			Juara 1 Turnamen RW<br>Juara 2 Turnamen Lurah
		</div>
	</div>
	<br>
   <button class="btn btn-info" id='button' >Change theme</button>
	<h3>Anak UI</h1>
	
	
</center>
</div>
{% endblock %}


