{% extends "base.html" %}
{% block content %}
{% load static %}

<div  style="display:none " id='isi' class='images' >
<center>
<!-- <div class="g-signin2" onclick='reload()' data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();">Sign out</a>
<script>
  function reload() {
	location.reload();
  }
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
	  sessionStorage.clear();
	  sessionStorage.setItem("name","My");
	  $.ajax({
		url: '/update' ,
		method: "POST",
		
		data: {
            'name': "My", 
        },
		success: function(data) {
                    location.reload();
					}
		})
		event.preventDefault();
    });
  }
</script> -->
{% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.username }}</p>
			 
	{% else %}
	<div class="google" style="margin-bottom:20px">
     <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
         <div class="left">
             <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
         </div>
         Login with Google
     </a>
	</div>       

{% endif %}

<h3>Total of {{name}} Favorite Books: </h3>
<div id="favi" style='margin-top:20px'>
</div>
<div>
<h4>Categories:</h4>
<button class="btn btn-info" onclick='pilih("Architecture")' >Architecture</button>
<button class="btn btn-info" onclick='pilih("Comic")' >Comic</button>
<button class="btn btn-info" onclick='pilih("Quilting")' >Quilting</button>
<button class="btn btn-info" onclick='pilih("Django")' >Django</button>
</div>
<table id= 'datas' class="table table-responsive container" style="text-align: center; background-color:rgb(255,255,255,0.5)">
			<tr>
                <th id='table'>Cover</th>
                <th id='table'>Title</th>
				<th id='table'>Author</th>
				<th> Fav </th>
            </tr>
</table>
{% if user.is_authenticated %}
        <a href="{% url 'story:logout' %}" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      

{% endif %}      

</center>
</div>
 {% endblock %}