{% extends "base.html" %}
{% block content %}
{% load static %}

<div  style="display:none;" id='isi'>
	<center>
	<h2>Login</h2>
	<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
	</center>
</div>
{% endblock %}


