{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
{% csrf_token %}
<script src="{% static 'js/form.js' %}"></script>
<link rel="stylesheet" type="text/css" href='/static/css/style.css'>
</head>


<div  style="display:none;" id='isi'>
	<center>
	<table id= 'data' class="table table-responsive container" style="text-align: center; background-color:rgb(255,255,255,0.5)">
			<tr>
                <th id='table'>Name</th>
                <th id='table'>E-mail</th>
				<th> Unsubscribe </th>
            </tr>
</table>
	
	</center>
</div>


{% endblock %}


