{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
{% csrf_token %}
<script src="{% static 'js/form.js' %}"></script>
<link rel="stylesheet" type="text/css" href='/static/css/style.css'>
</head>


<div  style="display:none;" id='isi'>
	<center>
	<div class="container">
            <h1 style='margin-top:25px;margin-bottom:50px;'>Keep you updated</h1>
            <form  method="POST">
            {% csrf_token %}
            {% for field in form %}
                <p class="label_tag">{{ field.label_tag }} <br> {{ field }} </p> 
            {% endfor %}
            <input style="margin-bottom:10px" disabled=true class="btn btn-info btn-lg" id="submit"  type="submit" value="Submit" >
         </form>
    </div>
	<div id="dialog" title="Announcement">
	</div>
	<div id='peringatan' style="margin-bottom:30vh">
	
	</div>
	<a href="{% url 'form:tampil' %}"><button class="btn btn-info"  >List Of Subscriber</button></a>
	</center>
</div>


{% endblock %}


