{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ali</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-signin-client_id" content="258812013582-re36741546pe4ogek7mjbk6m2k5e5ne6.apps.googleusercontent.com">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static 'js/jquery-3.3.1.js' %}" ></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	<script src="{% static 'js/style.js' %}"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type='text/css' href='/static/css/jquery-ui.css'>
	<link rel="stylesheet" type="text/css" href='/static/css/tes.css'>
	<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Short+Stack" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<nav class="navbar navbar-expand-lg  navbar-light"  id="navbar" >
	<a class="navbar-brand" href="{% url 'story:home' %}">
	<img src="https://image.flaticon.com/icons/svg/25/25694.svg" width="30" height="30" alt="">
	</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story:home' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story:hello' %}">Form</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="{% url 'story:library' %}">Library</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="{% url 'form:render' %}">Follow Me</a>
      </li>
    </ul>
  </div>
</nav>
<body onload=setTimeout("showPage()",2000) >

<div id="loader" >
	<center>
	<br><br><br><img src='http://bsn.ie/wp-content/uploads/2018/06/QuarterlyThirdBlacklab.gif' style="width:350px"><br><br><br><br><br><br><br><br><br><br>
	</center>
</div>
        {% block content %}
        {% endblock %}

</body>
</html>
