
body{
	background-image:url('../image/Sunshine To Your Desktop With These Wallpapers Lifehacker Australia.png');
	height: 100% !important; 
    background-position: center !important;
    background-repeat: no-repeat !important;
	background-size:cover !important;
	font-family: 'Short Stack', cursive;
}
#accordion h3 {
  border-radius: 50px;
  background-color: rgba(255,255,255,0.2);
  border-color:rgba(255,255,255,0);
  box-shadow: 3px 3px 3px  grey;
  margin-top:7px;
  font-family: 'Short Stack', cursive;
}
#accordion div {
  border-radius: 10px;
  width:250px;
  border-color:rgba(255,255,255,0);
  background-color: rgba(255,255,255,0.2);
  margin-top:7px;
  margin-bottom:-5px;
  font-family: 'Short Stack', cursive;
}
#isi{
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
#loader{
  position: relative;
  -webkit-animation-name: animateup;
  -webkit-animation-duration: 2s;
  animation-name: animateup;
  animation-duration: 2s
}
@-webkit-keyframes animateup {
  from { bottom:-150px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animateup { 
  from{ bottom:-150px; opacity:0 } 
  to{ bottom:0px; opacity:1 }
}
#zoom:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
	transition: transform .4s;
    box-shadow: 7px 7px 10px  grey;
}
.imagess:hover { 
  -webkit-filter: drop-shadow(5px 5px 5px grey);
  filter: drop-shadow(5px 5px 5px grey);
}
td, .table, tr {
	align-items : center !important;
    vertical-align: middle !important;
	
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.google:hover {
    -webkit-filter: drop-shadow(5px 5px 5px grey);
  filter: drop-shadow(5px 5px 5px grey);
}

.google {
  background: #FFFFFF;
  color: white;
  width:200px;
  border-radius:10px;
}
#datas{
	font-size:15px;
}